body {
  font-family: Arial, sans-serif;
  width: 300px;
  padding: 10px;
}
.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
}
.fullRow {
  grid-column: 1 / span 2;
}
#toggleFocusButton {
  width: 100%;
}
#statusDisplay {
  font-size: medium;
}
#totalDisplay {
  grid-column: 1 / 2;
  font-size: small;
}
#resetButton {
  width: 100%;
}
