body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #333333;
  color: white;
}
a {
  color: #56acf0;
}
.popup {
  width: 300px;
}
/* Layout */
.flex {
  display: flex;
}
.flex-column {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.flex-row {
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: 11px;
}
.flex-row-time-display {
  align-items: baseline;
}
.flex-row-popup-footer {
  justify-content: space-between;
  align-items: baseline;
}
.width-100pct {
  width: 100%
}
.width-stretch {
  width: stretch;
}
.width-fit-content {
  width: fit-content;
}
.margin-left {
  margin-left: 5px;
}
/* Fonts */
.font-medium {
  font-size: medium;
}
.font-small {
  font-size: small;
}
.font-smaller {
  font-size: smaller;
}
/* Buttons */
.button {
  border-radius: 5px;
  border: none;
  font-family: sans-serif;
  min-width: 30px;
  min-height: 30px;
  padding: 5px;
}
.button:hover, .button:focus {
  box-shadow: 0px 0px 4px 1px #ffffff;
}
.button-big {
  padding: 10px 18px;
  font-size: larger;
  font-weight: bold;
}
.button-red {
  background-color: #cb0202;
  color: white;
}
.button-blue {
  border: none;
  background-color: #2196F3;
  color: #ffffff;
}
.button-orange {
  background-color: #feae00;
  color: #1e1e1e;
}
.button-blue {
  background-color: #2196F3;
  color: #ffffff;
}
.text-orange {
  color: #feae00;
}
.text-blue {
  color: #2196F3;
}
input {
  background: transparent;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
input::placeholder {
  color: gray;
}
input.highlight-orange {
  background: #feae0312;
  border-color: #feae00;
}
#toggleFocusButton.inFocus {
  background-color: #feae00;
  color: #1e1e1e;
}
#toggleFocusButton.outsideFocus {
  background-color: #2196F3;
  color: #ffffff;
}
form.options {
  max-width: 500px;
}
input.options {
  width: 100%;
  padding: 5px 3px;
  margin-bottom: 10px;
}
button.options {
  width: 100%;
}

.history-wrapper {
  display: grid;
  gap: 8px 3px;
  grid-template-columns: 100px 100px auto;
}
section > * {
  padding-top: 20px;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #808080b3; /* Modal background is now transparent */
}

.modal-show {
  display: block;
}

.modal-content {
  background-color: #333333;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.modal-header {
  margin: 15px;
}

.modal-body {
  margin: 15px;
}

.modal-footer {
  margin: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: stretch;
}

.form-element {
  margin-bottom: 1em;
}

label {
  display: inline-block;
  margin-bottom: .3em;
}

input {
  display: block;
  width: 100%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0px;
}
th, td { 
  text-align: left;
  padding: 5px 2px;
}
tr {
  border-bottom: 1px solid #6f6f6f;
}
.row-clickable:hover,
.row-clickable:focus {
  background-color: #2196F343;
  cursor: pointer;
}
.row-header {
  border-bottom: 2px solid #6f6f6f;
}
.row-footer {
  border-top: 2px solid #6f6f6f;
  border-bottom: 2px double #6f6f6f;
}

.text-align-center {
  text-align: center;
}
